<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.df.module.admin.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="net.df.module.admin.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
    <result column="user_pass" jdbcType="VARCHAR" property="userPass" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>